.sign-link {
  display: flex;
  width: fit-content;
  margin: 0;
  align-items: center;
  li {
    list-style: none;
    margin-left: 30px;
  }
  .btn.member {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: pink;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
