.sign {
  max-width: 980px;
  width: 100%;
  margin: auto;
  .input-field {
    margin-bottom: 15px;
    border-bottom: 1px solid green;
  }
  input {
    border: none;
    margin-left: 15px;
    line-height: 40px;
    font-size: 20px;
  }
  button {
    border: none;
    background: pink;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
